In [1]:
# Librerias y configuración

import pandas as pd
import numpy as np
from tqdm import tqdm
from pycaret.regression import *
from sklearn.preprocessing import StandardScaler

In [2]:
# Cargar datos

df = pd.read_csv('../data/complete_data.csv')

df.head()

,fecha,intensidad,estacion,magnitud,unidad_medida,valores
0,2022-12-01 00:00:00,222.189757,Pza. de España,Dióxido de Azufre,ug/m3,1.0
1,2022-12-01 00:00:00,222.189757,Arturo Soria,Óxidos de Nitrógeno,ug/m3,18.0
2,2022-12-01 00:00:00,222.189757,Barajas,Dióxido de Nitrógeno,ug/m3,26.0
3,2022-12-01 00:00:00,222.189757,Barrio del Pilar,Óxidos de Nitrógeno,ug/m3,17.0
4,2022-12-01 00:00:00,222.189757,Pza. Castilla,Óxidos de Nitrógeno,ug/m3,16.0

In [3]:
# Se hace una lista con un df por cada contaminante para poder hacer un modelo por cada uno

# Primero se crea una columna para cada contaminante con su valor

df_magnitudes = df.pivot_table(index='fecha', columns='magnitud', values='valores')

df_magnitudes = df_magnitudes.fillna(method='ffill')

# Se elimminan las columnas magnitud y valores del df original porque ya no se necesitan

df = df.drop(columns=['magnitud', 'valores'])

# Se hace un merge con el df original

df = pd.merge(df, df_magnitudes, on='fecha')

# Se reduce el df para ajustar el número de datos a la capacidad de la máquina, en este caso 0.1% de los datos puesto que por ahora solo se dispone de datos de tráfico de Madrid y es una prueba, pero se debe cambiar en caso de ser posible

muestra_aleatoria = np.random.choice(df.index, size=int(len(df) * 0.00001), replace=False)

df = df.loc[muestra_aleatoria]

# Se hace un df con la media de contaminación en toda la ciudad, no por estación

df = df.groupby('fecha').mean().reset_index()

# Se crea la lista donde se guardarán los dataframes

dfs = []

# Se quiere hacer un ciclo for con cada columna de contaminante

for e in tqdm(df[['Benceno',
       'Dióxido de Azufre', 'Dióxido de Nitrógeno', 'Etilbenceno',
       'Hidrocarburos no metánicos', 'Hidrocarburos totales', 'Metano',
       'Monóxido de Carbono', 'Monóxido de Nitrógeno', 'Ozono',
       'Óxidos de Nitrógeno', 'Partículas < 10 um', 'Partículas < 2.5 um',
       'Tolueno']].columns):

    # Después se hace un df con la media de contaminación en la ciudad por cada contaminante

    variables = ['intensidad', e]   # Posibles variables explicativas + los valores del contaminante. Añafir aqui nuevas columnas si se añaden nuevas variables/datos

    df_magnitudes = df[variables]

    # Se añade el df a la lista de dataframes

    dfs.append(df_magnitudes)

100%|██████████| 14/14 [00:00<00:00, 858.01it/s]

In [4]:
dfs[0].head()

   intensidad   Benceno
0  873.370061  0.466667
1  772.634227  0.616667
2  750.996914  0.675000
3  347.174069  0.250000
4   77.778486  0.500000

In [7]:
# Se usa pycaret para comparar los distintos modelos de regresión y conocer sus resultados

# Se crea un objeto de la clase StandardScaler para normalizar los datos

scaler = StandardScaler() 

for e in tqdm(dfs):

    print(f'CONTAMINANTE: {e.columns[1]}')   # Cambiar el número de columna en caso de añadir nuevas variables/datos

    # Se normalizan los datos

    e = pd.DataFrame(scaler.fit_transform(e))
    
    reg = setup(data=e, target=f'{e.columns[1]}', session_id=1)  # Cambiar el número de columna en caso de añadir nuevas variables/datos

    compare_models()

    print('\n\n\n\n\n\n') # Unos saltos de linea para que sea más legible

  0%|          | 0/14 [00:00<?, ?it/s]

CONTAMINANTE: Benceno

Initiated  . . . . . . . . . . . . . . . . . .           21:12:04
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

  7%|▋         | 1/14 [00:07<01:39,  7.68s/it]

CONTAMINANTE: Dióxido de Azufre

Initiated  . . . . . . . . . . . . . . . . . .           21:12:11
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 14%|█▍        | 2/14 [00:15<01:36,  8.03s/it]

CONTAMINANTE: Dióxido de Nitrógeno

Initiated  . . . . . . . . . . . . . . . . . .           21:12:20
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 21%|██▏       | 3/14 [00:24<01:28,  8.04s/it]

CONTAMINANTE: Etilbenceno

Initiated  . . . . . . . . . . . . . . . . . .           21:12:27
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 29%|██▊       | 4/14 [00:31<01:19,  7.97s/it]

CONTAMINANTE: Hidrocarburos no metánicos

Initiated  . . . . . . . . . . . . . . . . . .           21:12:35
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 36%|███▌      | 5/14 [00:39<01:11,  7.90s/it]

CONTAMINANTE: Hidrocarburos totales

Initiated  . . . . . . . . . . . . . . . . . .           21:12:43
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 43%|████▎     | 6/14 [00:47<01:03,  7.92s/it]

CONTAMINANTE: Metano

Initiated  . . . . . . . . . . . . . . . . . .           21:12:51
Status     . . . . . . . . . . . . . . . . . .    Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 50%|█████     | 7/14 [00:55<00:55,  7.89s/it]

CONTAMINANTE: Monóxido de Carbono

Initiated  . . . . . . . . . . . . . . . . . .           21:12:59
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

 57%|█████▋    | 8/14 [01:03<00:47,  7.98s/it]

CONTAMINANTE: Monóxido de Nitrógeno

Initiated  . . . . . . . . . . . . . . . . . .             21:13:07
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Linear Regression

 64%|██████▍   | 9/14 [01:11<00:39,  7.92s/it]

CONTAMINANTE: Ozono

Initiated  . . . . . . . . . . . . . . . . . .           21:13:15
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 71%|███████▏  | 10/14 [01:19<00:31,  7.91s/it]

CONTAMINANTE: Óxidos de Nitrógeno

 79%|███████▊  | 11/14 [01:27<00:23,  7.90s/it]

CONTAMINANTE: Partículas < 10 um

100%|██████████| 14/14 [01:51<00:00,  7.94s/it]