In [1]:
# Librerias y configuración

import pandas as pd
import numpy as np
from tqdm import tqdm
from pycaret.regression import *
from sklearn.preprocessing import StandardScaler

In [2]:
# Cargar datos

df = pd.read_csv('../final_data/data.csv')

In [3]:
# Se hace una lista con un df por cada contaminante para poder hacer un modelo por cada uno

df_magnitudes = df.pivot_table(index='fecha', columns='magnitud', values='valores')

df_magnitudes = df_magnitudes.fillna(method='ffill')

df = df.drop(columns=['magnitud', 'valores'])

df = pd.merge(df, df_magnitudes, on='fecha')

dfs = []

scaler = StandardScaler()  # Se crea un objeto de la clase StandardScaler para ºnormalizar los datos

# Se reduce el df para ajustar el número de datos a la capacidad de la máquina

muestra_aleatoria = np.random.choice(df.index, size=int(len(df) * 0.00001), replace=False)

df = df.loc[muestra_aleatoria]

for e in tqdm(df.columns[4:]):

    # Primero se hace un df con la media de contaminante en la ciudad, no por estación

    df_mean = df.groupby('fecha').mean().reset_index()

    # Después se hace un df con la media de contaminante en la ciudad por cada contaminante

    dfs.append(df[['intensidad', e]])

    # Se normalizan los datos

    df[['intensidad', e]] = scaler.fit_transform(df[['intensidad', e]])

100%|██████████| 14/14 [00:00<00:00, 126.00it/s]

In [4]:
dfs[0].head()

         intensidad  Benceno
5995701  604.828513    0.500
7881892  806.406360    0.475
6524877  343.585256    0.250
3387168   25.111309    0.300
8729265   58.489429    0.500

In [5]:
# Se usa pycaret para comparar los distintos modelos de regresión y conocer sus resultados

for e in tqdm(dfs):

    print(f'CONTAMINANTE: {e.columns[1]}')
    
    reg = setup(data=e, target=f'{e.columns[1]}', session_id=1)

    compare_models()

  0%|          | 0/14 [00:00<?, ?it/s]

CONTAMINANTE: Benceno

Initiated  . . . . . . . . . . . . . . . . . .           20:54:01
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

  7%|▋         | 1/14 [00:11<02:28, 11.42s/it]

CONTAMINANTE: Dióxido de Azufre

Initiated  . . . . . . . . . . . . . . . . . .           20:54:12
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

 14%|█▍        | 2/14 [00:19<01:55,  9.66s/it]

CONTAMINANTE: Dióxido de Nitrógeno

Initiated  . . . . . . . . . . . . . . . . . .           20:54:21
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 21%|██▏       | 3/14 [00:29<01:46,  9.64s/it]

CONTAMINANTE: Etilbenceno

Initiated  . . . . . . . . . . . . . . . . . .           20:54:30
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 29%|██▊       | 4/14 [00:38<01:32,  9.23s/it]

CONTAMINANTE: Hidrocarburos no metánicos

Initiated  . . . . . . . . . . . . . . . . . .           20:54:39
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 36%|███▌      | 5/14 [00:46<01:20,  8.91s/it]

CONTAMINANTE: Hidrocarburos totales

Initiated  . . . . . . . . . . . . . . . . . .           20:54:47
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 43%|████▎     | 6/14 [00:54<01:09,  8.70s/it]

CONTAMINANTE: Metano

Initiated  . . . . . . . . . . . . . . . . . .             20:54:56
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Linear Regression

 50%|█████     | 7/14 [01:02<00:59,  8.47s/it]

CONTAMINANTE: Monóxido de Carbono

Initiated  . . . . . . . . . . . . . . . . . .           20:55:04
Status     . . . . . . . . . . . . . . . . . .    Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 57%|█████▋    | 8/14 [01:11<00:51,  8.51s/it]

CONTAMINANTE: Monóxido de Nitrógeno

Initiated  . . . . . . . . . . . . . . . . . .           20:55:12
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

 64%|██████▍   | 9/14 [01:19<00:42,  8.56s/it]

CONTAMINANTE: Ozono

Initiated  . . . . . . . . . . . . . . . . . .           20:55:21
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 71%|███████▏  | 10/14 [01:28<00:34,  8.59s/it]

CONTAMINANTE: Óxidos de Nitrógeno

Initiated  . . . . . . . . . . . . . . . . . .           20:55:30
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

 79%|███████▊  | 11/14 [01:37<00:25,  8.66s/it]

CONTAMINANTE: Partículas < 10 um

Initiated  . . . . . . . . . . . . . . . . . .           20:55:38
Status     . . . . . . . . . . . . . . . . . .    Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

Initiated  . . . . . . . . . . . . . . . . . .          20:55:47
Status     . . . . . . . . . . . . . . . . . .  Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .       Elastic Net

 93%|█████████▎| 13/14 [01:54<00:08,  8.58s/it]

CONTAMINANTE: Tolueno

100%|██████████| 14/14 [02:02<00:00,  8.77s/it]