In [1]:
# Se van a unir los datos de contaminación y tráfico en un solo csv por mayor comoddidad

# Librerias y configuración

import warnings
import pandas as pd

warnings.filterwarnings('ignore')

In [2]:
# Carga de datos

df_traffic = pd.read_csv('../final_data/trafic_data.csv')

df_pollution = pd.read_csv('../final_data/pollution_data.csv')

In [3]:
# Unión de los datos

df = pd.merge(df_traffic, df_pollution, on=['fecha'], how='inner')

In [4]:
df.head()

   Unnamed: 0                fecha  intensidad  estacion  magnitud  valores
0         904  2022-12-10 10:00:00   349.37503         8         7      3.0
1         904  2022-12-10 10:00:00   349.37503        18         8     16.0
2         904  2022-12-10 10:00:00   349.37503        35        12     46.0
3         904  2022-12-10 10:00:00   349.37503        47         8     20.0
4         904  2022-12-10 10:00:00   349.37503        55        10     13.0

In [5]:
# Se borra la columna unnamed

df.drop(columns=['Unnamed: 0'], inplace=True)

In [6]:
df.head()

                 fecha  intensidad  estacion  magnitud  valores
0  2022-12-10 10:00:00   349.37503         8         7      3.0
1  2022-12-10 10:00:00   349.37503        18         8     16.0
2  2022-12-10 10:00:00   349.37503        35        12     46.0
3  2022-12-10 10:00:00   349.37503        47         8     20.0
4  2022-12-10 10:00:00   349.37503        55        10     13.0

In [7]:
# Se guarda el csv

df.to_csv('../final_data/data.csv', index=False)