In [1]:
# Se van a unir los datos de contaminación y tráfico en un solo csv por mayor comoddidad

# Librerias y configuración

import warnings
import pandas as pd

warnings.filterwarnings('ignore')

In [2]:
# Carga de datos

df_traffic = pd.read_csv('../final_data/trafic_data.csv')

df_pollution = pd.read_csv('../final_data/pollution_data.csv')

In [3]:
# Se convierten las fechas a datetime

df_pollution.fecha = pd.to_datetime(df_pollution.fecha)

df_traffic.fecha = pd.to_datetime(df_traffic.fecha)

In [4]:
# Unión de los datos

df = pd.merge(df_traffic, df_pollution, on=['fecha'], how='inner')

In [5]:
df.head()

,Unnamed: 0_x,fecha,intensidad,Unnamed: 0_y,estacion,magnitud,unidad_medida,valores
0,0,2022-12-01,222.189757,0,Pza. de España,Dióxido de Azufre,ug/m3,1.0
1,0,2022-12-01,222.189757,744,Arturo Soria,Óxidos de Nitrógeno,ug/m3,18.0
2,0,2022-12-01,222.189757,1488,Barajas,Dióxido de Nitrógeno,ug/m3,26.0
3,0,2022-12-01,222.189757,2232,Barrio del Pilar,Óxidos de Nitrógeno,ug/m3,17.0
4,0,2022-12-01,222.189757,2976,Pza. Castilla,Óxidos de Nitrógeno,ug/m3,16.0

In [6]:
# Se borran las columna unnamed

df.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y'], inplace=True)

In [7]:
df.head()

,fecha,intensidad,estacion,magnitud,unidad_medida,valores
0,2022-12-01,222.189757,Pza. de España,Dióxido de Azufre,ug/m3,1.0
1,2022-12-01,222.189757,Arturo Soria,Óxidos de Nitrógeno,ug/m3,18.0
2,2022-12-01,222.189757,Barajas,Dióxido de Nitrógeno,ug/m3,26.0
3,2022-12-01,222.189757,Barrio del Pilar,Óxidos de Nitrógeno,ug/m3,17.0
4,2022-12-01,222.189757,Pza. Castilla,Óxidos de Nitrógeno,ug/m3,16.0

In [8]:
# Se guarda el csv

df.to_csv('../final_data/data.csv', index=False)